<div class="r159-page-main">
  <h1>Information</h1>
  <fast-card class="r159-info">
    <a href="https://fonts.adobe.com/fonts/rubik" class="r159-info-container r159-font">
      <div class="r159-info-example">
        R159
      </div>
      <span>
        <h2>Rubik Font Face</h2>
        <h3><i>Primary Font</i></h3>
      </span>
      </a>
    <div class="r159-colors">
      <a href="https://www.colorhexa.com/0159a0" class="r159-info-container">
        <div class="r159-info-example">
          <div class="r159-color-circle r159-blue"></div>
        </div>
        <span>
          <h2>#0159a0</h2>
          <h3><i>Accent Color</i></h3>
        </span>
      </a>
      <a href="https://www.colorhexa.com/1e1e1e" class="r159-info-container">
        <div class="r159-info-example">
          <div class="r159-color-circle r159-darkgray"></div>
        </div>
        <span>
          <h2>#1e1e1e</h2>
          <h3><i>Dark Base</i></h3>
        </span>
      </a>
      <a href="https://www.colorhexa.com/e5e5e5" class="r159-info-container">
        <div class="r159-info-example">
          <div class="r159-color-circle r159-lightgray"></div>
        </div>
        <span>
          <h2>#e5e5e5</h2>
          <h3><i>Light Base</i></h3>
        </span>
      </a>
    </div>
  </fast-card>
  <div class="r159-info">
    <a href="https://github.com/Racer159/racer159.com/blob/master/LICENSE" class="r159-info-container">
      <div class="r159-info-icons">
        <i class="r159-info-icon fab fa-creative-commons"></i>
        <i class="r159-info-icon fab fa-creative-commons-by"></i>
      </div>
      <h2>Creative Commons Attribution 4.0</h2>
    </a>
    <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" class="r159-info-container">
      <div class="r159-info-icons">
        <i class="r159-info-icon far fa-universal-access"></i>
      </div>
      <h2>WCAG Compliance</h2>
    </a>    
    <a [routerLink]="'/privacy'" class="r159-info-container">
      <div class="r159-info-icons">
        <i class="r159-info-icon far fa-user-circle"></i>
      </div>
      <h2>Privacy Policy</h2>
    </a>
  </div>
</div>
