<fluent-toolbar id="r159-toolbar" style="width: 100%">
  <label slot="label">Racer159</label>
  <div slot="end">
    <fluent-button appearance="accent" (click)="toggleLightMode()"><i class="far fa-lg fa-lightbulb"></i></fluent-button>
    <fluent-button appearance="stealth" slot="end"><i class="fab fa-lg fa-linkedin-in"></i></fluent-button>
    <fluent-button appearance="stealth" slot="end"><i class="fab fa-lg fa-gitlab"></i></fluent-button>
    <fluent-button appearance="stealth" slot="end"><i class="fab fa-lg fa-github"></i></fluent-button>
  </div>
</fluent-toolbar>

<div id="r159-content">
  <router-outlet></router-outlet>
</div>

<div id="r159-copyright">
  © 2022
</div>

<div id="r159-footer">
  π
</div>