#r159-toolbar {
    border-bottom: calc(var(--focus-stroke-width) * 1px) solid var(--accent-fill-rest);
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;

    [slot="label"] {
        font-size: var(--type-ramp-plus-2-font-size);
        font-weight: 500;
    }

    fast-button {
        margin-right: var(--toolbar-item-gap);
    }
}

#r159-git-menu {
    z-index: 120;
    position: fixed;
    top: calc(((var(--base-height-multiplier) + var(--density)) * var(--design-unit) * 1px) +
              (var(--design-unit) * 1px) + (var(--design-unit) * 1px) + var(--focus-stroke-width) * 1px);
    right: 0px;
}

#r159-menu-cover {
    z-index: 110;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#r159-content {
    padding-top: calc(((var(--base-height-multiplier) + var(--density)) * var(--design-unit) * 1px) +
                       (var(--design-unit) * 1px) + (var(--design-unit) * 1px) + var(--focus-stroke-width) * 1px);
}

#r159-copyright {
    position: fixed;
    z-index: 100;
    bottom: 0px;
    left: 0px;
    padding: calc(var(--design-unit) * 1px);
}

#r159-footer {
    position: fixed;
    z-index: 100;
    bottom: 0px;
    right: 0px;
    padding: calc(var(--design-unit) * 1px);
}

@media (max-width: 799.98px) {
    #r159-footer, #r159-copyright {
        position:relative;
        display: inline-block;
        margin-top: 16px;
    }

    #r159-footer {
        float: right;
    }
}
