<fast-toolbar id="r159-toolbar" style="width: 100%">
  <label slot="label">Racer159</label>
  <div slot="end">
    <fast-button appearance="accent" (click)="toggleLightMode()"><i class="far fa-lg fa-lightbulb"></i></fast-button>
    <fast-button appearance="stealth" (click)="gotoURL('https://www.linkedin.com/in/racer159/')"><i class="fab fa-lg fa-linkedin-in"></i></fast-button>
    <fast-button appearance="stealth" (click)="gotoURL('https://gitlab.com/Racer159')"><i class="fab fa-lg fa-gitlab"></i></fast-button>
    <fast-button appearance="stealth" (click)="gotoURL('https://github.com/Racer159')"><i class="fab fa-lg fa-github"></i></fast-button>
  </div>
</fast-toolbar>

<div id="r159-content">
  <router-outlet></router-outlet>
</div>

<div id="r159-copyright">
  © 2022
</div>

<div id="r159-footer">
  π
</div>