@use "../variables" as v;

$toolbar-height: calc(
  (((var(--base-height-multiplier) + var(--density) + 3) * var(--design-unit) + var(--focus-stroke-width)) * 1px)
);

footer {
  background: var(--neutral-layer-2);
}

#r159-toolbar {
  border-bottom: calc(var(--focus-stroke-width) * 1.5px) solid var(--accent-fill-rest);
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0;

  [slot="label"] {
    font-size: var(--type-ramp-plus-2-font-size);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: calc(1.5 * var(--toolbar-item-gap));
    margin-left: var(--toolbar-item-gap);
    color: var(--neutral-foreground-rest);
    text-decoration: none;
  }

  [slot="end"] {
    display: flex;
    align-items: center;
    gap: var(--toolbar-item-gap);
    margin-right: calc(2 * var(--toolbar-item-gap));
  }
}

.r159-header-icon {
  width: v.$base-px-unit * 4;
  height: v.$base-px-unit * 4;
  border-radius: 50%;
  background-color: var(--accent-fill-rest);

  /* Firefox */
  image-rendering: crisp-edges;

  /* Chromium + Safari */
  image-rendering: pixelated;

  /* Maintain Aspect Ratio */
  object-fit: contain;
}

#r159-git-menu {
  z-index: 120;
  position: fixed;
  top: $toolbar-height;
  right: 0;
}

#r159-menu-cover {
  z-index: 110;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#r159-content {
  padding-top: $toolbar-height;
}

#r159-copyright,
#r159-footer {
  position: fixed;
  z-index: 100;
  bottom: 0;
  color: var(--neutral-foreground-rest);
  text-decoration: none;
}

#r159-copyright {
  left: 0;
  padding: v.$base-px-unit * 3 v.$base-px-unit * 3 calc(var(--design-unit) * 1px) calc(var(--design-unit) * 1px);
}

#r159-footer {
  right: 0;
  padding: v.$base-px-unit * 3 calc(var(--design-unit) * 1px) calc(var(--design-unit) * 1px) v.$base-px-unit * 3;
}

#r159-notifications {
  @include v.notifications;
}

@media screen and (max-width: v.$xs-max-width) {
  #r159-footer,
  #r159-copyright {
    position: relative;
    display: inline-block;
  }

  #r159-footer {
    float: right;
  }

  #r159-title {
    display: none;
  }
}

@media print {
  fast-button,
  fast-switch {
    display: none;
  }

  #r159-toolbar {
    width: 100vw !important;
    position: absolute;
    border-radius: 0;
    padding: var(--toolbar-item-gap) 0;
  }

  #r159-content {
    padding-top: 34px;
  }

  footer {
    background: transparent;
  }
}
