/* You can add global styles to this file, and also import other style files */
@use "variables" as v;

@font-face { font-family: Rubik; src: url("/assets/webfonts/Rubik-VariableFont_wght.ttf"); font-display: swap; }

body {
  font-family: var(--body-font);
  color: var(--neutral-foreground-rest);
  background-color: var(--neutral-layer-2);
  margin: 0;

  --anim-length: 125ms;
  --anim-style: linear;
}

fast-card,
fast-toolbar,
fast-menu,
fast-menu-item,
fast-divider,
fast-button,
a,
body,
img {
  transition:
    background-color var(--anim-length) var(--anim-style),
    color var(--anim-length) var(--anim-style),
    border var(--anim-length) var(--anim-style);
}

h2 {
  font-weight: 500;
}

a {
  color: var(--accent-foreground-rest);
}

a:hover {
  color: var(--accent-foreground-hover);
}

a:active {
  color: var(--accent-foreground-active);
}

a:focus {
  color: var(--accent-foreground-focus);
}

fast-badge {
  --badge-fill-accent: var(--accent-fill-rest);
  --badge-fill-neutral: var(--neutral-layer-4);
  --badge-fill-rit-orange: #f47a34; // lightened from #f36e21 (improve contrast)
  --badge-fill-rit-brown: #513127;
  --badge-fill-rit-red: #8f0006;
  --badge-fill-rit-gray: #7c878e;
  --badge-fill-af-blue: #0033a0;
  --badge-fill-af-silver: #bfbfbe; // lightened from #8f8f8c (improve contrast)
  --badge-fill-ms-red: #f25022;
  --badge-fill-ms-green: #90d400; // lightened from #7fba00 (improve contrast)
  --badge-fill-ms-blue: #23baff; // lightened from #00a4ef (improve contrast)
  --badge-fill-ms-yellow: #ffb900;
  --badge-fill-ms-gray: #737373;
  --badge-color-black: #000;
  --badge-color-white: #fff;
  --badge-color-accent: var(--foreground-on-accent-rest);
  --badge-color-neutral: var(--neutral-foreground-rest);
}

fast-card {
  background-color: var(--neutral-layer-1);
}

.r159-page-main {
  max-width: v.$lg-min-width + (v.$base-px-unit * 10);
  width: calc(100vw - 200px);
  margin: v.$base-px-unit * 6 auto;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility var(--anim-length) var(--anim-style), opacity var(--anim-length) var(--anim-style);
}

.shown {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity var(--anim-length) var(--anim-style);
}

.print-only {
  display: none;
}

@mixin page-widen {
  .r159-page-main {
    width: calc(100vw - v.$base-px-unit * 4);
    margin: v.$base-px-unit * 6 v.$base-px-unit * 2 0;
  }
}

@media screen and (max-width: v.$xs-max-width) {
  @include page-widen;
}

@media print {
  .break {
    page-break-after: always;
  }

  .print-only {
    display: block;
  }

  .no-print {
    display: none;
  }

  body,
  fast-card,
  fast-toolbar {
    background-color: white;
    color: black;
  }

  a {
    color: #013d6d;
  }

  @include page-widen;
}
