<div id="r159-home-banner">
  <img class="r159-lg" src="/assets/vehicle-friends-lg.png"/>
  <img class="r159-md" src="/assets/vehicle-friends-md.png"/>
  <img class="r159-sm" src="/assets/vehicle-friends-sm.png"/>
  <img class="r159-xs" src="/assets/vehicle-friends-xs.png"/>
</div>

<div id="r159-home-main">
  <div class="spacer"></div>
  <div id="r159-home-about">
    <div class="r159-flex-about">
      <img src="/assets/profile.png" class="r159-about-photo" />
    </div>
    <div class="r159-flex-about">
      <h1>Wayne Starr</h1>
      <h2>Software Engineer</h2>
      <p>San Antonio, TX - <a href="mailto:me@racer159.com">me@racer159.com</a></p>
      <p>
        <fast-badge color="accent" fill="accent">Motorcycle Riding</fast-badge>
        <fast-badge color="accent" fill="accent">Mountain Biking</fast-badge>
        <fast-badge color="accent" fill="accent">Retro Computing</fast-badge>
        <fast-badge color="accent" fill="accent">Gaming</fast-badge>
        <fast-badge color="accent" fill="accent">Electronics Projects</fast-badge>
        <fast-badge color="accent" fill="accent">Computer Aided Drafting</fast-badge>
        <fast-badge color="accent" fill="accent">Sewing</fast-badge>
      </p>
    </div>
  </div>
  <div class="spacer"></div>
  <fast-divider style="width: 100%;"></fast-divider>
  <div id="r159-home-experience-buttons">
    <fast-button id="r159-home-experience-left" appearance="accent" (click)="scrollExperience('left')"
      [class]="experienceScrollData.scrollLeft > 0 ? 'shown' : 'hidden'">
      <i class="far fa-lg fa-angle-left"></i>
    </fast-button>
    <fast-button id="r159-home-experience-right" appearance="accent" (click)="scrollExperience('right')"
      [class]="experienceScrollData.scrollLeft < (experienceScrollData.scrollWidth - experienceScrollData.offsetWidth) ? 'shown' : 'hidden'">
      <i class="far fa-lg fa-angle-right"></i>
    </fast-button>
  </div>
  <div id="r159-home-experience" #r159HomeExperience (scroll)="updateExperienceScrollData()">
    <fast-card class="r159-flex-sm">
      <img src="/assets/90cos.png" />
      <div>
        <h2>90th Cyber Ops. Sq. (90COS)</h2>
        <fast-badge color="white" fill="af-blue">2019-2022</fast-badge>
        <fast-badge color="white" fill="af-silver">San Antonio, TX</fast-badge>
        <p>
          <b>Flight Commander, Network Support</b>
        </p>
        <fast-divider></fast-divider>
        <ul>
          <li>Lead network engineering and support for 3 cyber capability development networks</li>
          <li>Drive adoption of Agile processes and DevSecOps practices across the squadron</li>
          <li>Develop personnel investment strategies</li>
        </ul>
      </div>
    </fast-card>
    <fast-card class="r159-flex-sm">
      <img src="/assets/p1.png" />
      <div>
        <h2>LevelUP (L^)</h2>
        <fast-badge color="white" fill="af-blue">2019-2020</fast-badge>
        <fast-badge color="white" fill="af-silver">San Antonio, TX</fast-badge>
        <p>
          <b>Software Factory Lead</b>
        </p>
        <fast-divider></fast-divider>
        <ul>
          <li>Led split of LevelUP from Platform One</li>
          <li>Coached teams on implementation of DevSecOps and Agile methodologies</li>
          <li>Implemented strategies to ensure platform compatibility between organizations</li>
        </ul>
      </div>
    </fast-card>
    <fast-card class="r159-flex-sm">
      <a href="https://rogue.diu.mil/"><img src="/assets/rs.png" alt="Pixelated Dowding drone track logo"/></a>
      <div>
        <h2>Rogue Squadron (RS)</h2>
        <fast-badge color="white" fill="af-blue">2018-2019</fast-badge>
        <fast-badge color="white" fill="af-silver">Mountain View, CA</fast-badge>
        <p>
          <b>Product Manager/DevSecOps Engineer</b>
        </p>
        <fast-divider></fast-divider>
        <ul>
          <li>Design, Develop, Test, Deploy and Maintain counter unmanned aerial systems apps</li>
          <li>Coach growing Agile teams, manage product backlogs, craft user stories, and lead design synthesis sessions</li>
        </ul>
      </div>
    </fast-card>
    <fast-card class="r159-flex-sm">
      <a href="https://kesselrun.af.mil/"><img src="/assets/kr.png" alt="Pixelated Kessel Run logo"/></a>
      <div>
        <h2>Kessel Run (KR)</h2>
        <fast-badge color="white" fill="af-blue">2017-2018</fast-badge>
        <fast-badge color="white" fill="af-silver">Boston, MA</fast-badge>
        <p>
          <b>DevSecOps Engineer</b>
        </p>
        <fast-divider></fast-divider>
        <ul>
          <li>Design, Develop, Test, Deploy and Maintain applications in support of air operations</li>
          <li>Create and refine fast &amp; secure paths to production that could be used as templates for future Air Force apps</li>
        </ul>
      </div>
    </fast-card>
    <fast-card class="r159-flex-sm">
      <a href="https://www.diu.mil/"><img src="/assets/diu.png" alt="Pixelated Defense Innovation Unit letter D logo"/></a>
      <div>
        <h2>Defense Innovation Unit (DIU)</h2>
        <fast-badge color="white" fill="af-blue">2016-2019</fast-badge>
        <fast-badge color="white" fill="af-silver">Mountain View, CA</fast-badge>
        <p>
          <b>Chief, Cloud DevSecOps</b>
        </p>
        <fast-divider></fast-divider>
        <ul>
          <li>Design, Develop, Test, Deploy and Maintain applications for data ingest, experimentation, and tech validation</li>
          <li>Manage projects with agile techniques and advocate for their adoption in the <a href="https://www.defense.gov/">DoD</a></li>
        </ul>
      </div>
    </fast-card>
    <fast-card class="r159-flex-sm">
      <a href="https://bing.com"><img src="/assets/ms.png" alt="Pixelated Microsoft Bing letter B logo"/></a>
      <div>
        <h2>Microsoft (Bing Live Site Eng.)</h2>
        <fast-badge color="white" fill="ms-blue">2014-2015</fast-badge>
        <fast-badge color="white" fill="ms-green">Bellevue, WA</fast-badge>
        <p>
          <b>Software Developer in Test (Intern)</b>
        </p>
        <fast-divider></fast-divider>
        <ul>
          <li>Analyze Big Data datasets to discover insights and find ways to refine log parsing/incident analysis for <a href="https://bing.com">Bing.com</a></li>
          <li>Create dynamic reports from data using R, Excel, PowerBI and SharePoint</li>
        </ul>
      </div>
    </fast-card>
    <fast-card class="r159-flex-sm">
      <a href="https://www.rit.edu/its/sito/"><img src="/assets/sito.png" alt="Pixelated Student IT Office multi-colored cube logo"/></a>
      <div>
        <h2>Student IT Office (SITO)</h2>
        <fast-badge color="white" fill="rit-orange">2014-2016</fast-badge>
        <fast-badge color="white" fill="rit-red">Rochester, NY</fast-badge>
        <p>
          <b>Web Developer</b>
        </p>
        <fast-divider></fast-divider>
        <ul>
          <li>Design, Develop, Test, Deploy and Maintain enterprise-level web apps for <a href="https://www.rit.edu/its/sito/">RIT</a></li>
          <li>Work within a cross-functional team to improve business, development, and design processes</li>
        </ul>
      </div>
    </fast-card>
    <fast-card class="r159-flex-sm">
      <a href="https://www.rit.edu/"><img src="/assets/rit.png" alt="Pixelated RIT tiger roaring logo"/></a>
      <div>
        <h2>Rochester Inst. of Tech. (RIT)</h2>
        <fast-badge color="white" fill="rit-orange">2011-2016</fast-badge>
        <fast-badge color="white" fill="rit-red">Rochester, NY</fast-badge>
        <fast-badge color="white" fill="rit-brown">3.85 GPA</fast-badge>
        <p>
          <b>Bachelor of Science in Software Engineering</b> w/ Military Science Minor &amp; Arabic Immersion
        </p>
        <fast-divider></fast-divider>
        <ul>
          <li>Graduated Summa Cum Laude</li>
          <li>Presidential Scholarship Recipient</li>
          <li><a href="https://www.afrotc.com/">Air Force Reserve Officer Training Corps</a></li>
          <li><a href="https://aas-sw.org/">Arnold Air Society</a> Area I Officer</li>
        </ul>
      </div>
    </fast-card>
  </div>
</div>
