@use "../../variables" as v;

$card-width: 380px;

@mixin col-about {
  #about {
    flex-flow: column;
    gap: v.$base-px-unit * 2;
    padding: 0;
    text-align: center;
  }
}

@mixin banner-border($radius-multiplier) {
  #banner {
    border-bottom-right-radius: v.$base-px-unit * $radius-multiplier;
    border-bottom-left-radius: v.$base-px-unit * $radius-multiplier;
  }

  #banner-overlay {
    margin: v.$base-px-unit * $radius-multiplier * -1;
    border: v.$base-px-unit * $radius-multiplier solid var(--neutral-layer-2);
    border-bottom-right-radius: v.$base-px-unit * $radius-multiplier * 2;
    border-bottom-left-radius: v.$base-px-unit * $radius-multiplier * 2;
  }
}

@mixin banner-height($height-multiplier, $width-multiplier) {
  #banner img,
  #banner-overlay {
    height: $card-width * $height-multiplier;
    width: $card-width * $height-multiplier * $width-multiplier;
  }
}

img {
  /* Firefox */
  image-rendering: crisp-edges;

  /* Chromium + Safari */
  image-rendering: pixelated;

  /* Maintain Aspect Ratio */
  object-fit: contain;
}

ul {
  padding-left: 26px;
}

fast-badge {
  margin: 0 calc(var(--design-unit) * 1px) calc(var(--design-unit) * 1px) 0;
}

.exp-card {
  flex: 0 0 $card-width;

  img {
    width: $card-width;
    height: $card-width;
  }

  div {
    padding: 0 10px 10px;
  }
}

.about-photo {
  background-color: var(--accent-fill-rest);
  border-radius: 50%;
  width: $card-width;
  height: $card-width;
  box-shadow:
    0 0 2.9px rgba(0, 0, 0, calc(0.11 * (2 - var(--background-luminance, 1)))),
    0 -1.9px 3.6px rgba(0, 0, 0, calc(0.13 * (2 - var(--background-luminance, 1))));
}

.lg {
  display: block;
}

.md {
  display: none;
}

.sm {
  display: none;
}

.xs {
  display: none;
}

.show-mobile {
  display: none;
}

.spacer {
  width: 100%;
}

@include banner-border(4);
@include banner-height(2, 10);

#banner {
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: -1;

  img {
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: var(--accent-fill-rest);
  }
}

#banner-overlay-wrapper {
  overflow: hidden;
}

#banner-overlay {
  width: 100%;
  box-shadow:
    inset 0 0 2.9px rgba(0, 0, 0, calc(0.11 * (2 - var(--background-luminance, 1)))),
    inset 0 -1.9px 3.6px rgba(0, 0, 0, calc(0.13 * (2 - var(--background-luminance, 1))));
}

#main-wrapper {
  padding: v.$base-px-unit * 4 0;
  width: 100%;
  background: var(--neutral-layer-2);
}

#main {
  display: flex;
  flex-flow: row wrap;
  gap: v.$base-px-unit * 3;
  max-width: v.$lg-min-width + (v.$base-px-unit * 10);
  width: calc(100vw - 200px);
  margin: v.$base-px-unit * 2 auto v.$base-px-unit * 4;
  justify-content: center;
}

#about {
  width: 100%;
  max-width: v.$md-min-width;
  display: flex;
  align-items: center;
  gap: v.$base-px-unit * 6;
  padding: 0 v.$base-px-unit * 4;
}

#skills {
  margin: v.$base-px-unit * 3 0 v.$base-px-unit;
}

#experience-buttons {
  width: 100%;
  padding: 0 v.$base-px-unit * 2;
  height: 0;
}

#experience-left,
#experience-right {
  position: relative;
  top: 333px;
  z-index: 50;
}

#experience-left {
  float: left;
}

#experience-right {
  float: right;
}

#experience::-webkit-scrollbar {
  display: none;
}

#experience {
  width: 100%;
  display: flex;
  gap: v.$base-px-unit * 2;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media screen and (max-width: v.$md-max-width) and (min-width: v.$md-min-width) {
  .lg {
    display: none;
  }

  .md {
    display: block;
  }

  @include banner-height(1.75, 3);
}

@media screen and (max-width: v.$sm-max-width) and (min-width: v.$sm-min-width) {
  .lg {
    display: none;
  }

  .sm {
    display: block;
  }

  @include banner-height(1.66, 2);
  @include col-about;
}

@media screen and (max-width: v.$xs-max-width) {
  .lg {
    display: none;
  }

  .xs {
    display: block;
  }

  #main {
    width: calc(100vw - v.$base-px-unit * 4);
    margin: v.$base-px-unit * 6 v.$base-px-unit * 2 0;
  }

  @include banner-height(1.33, 1.5);
  @include banner-border(3);
  @include col-about;
}

@media screen and (max-width: v.$xxs-max-width) {
  .about-photo {
    width: calc(100vw - v.$base-px-unit * 4);
    height: calc(100vw - v.$base-px-unit * 4);
    max-width: $card-width - (v.$base-px-unit * 10);
    max-height: $card-width - (v.$base-px-unit * 10);
  }

  .exp-card {
    flex-basis: calc(100vw - v.$base-px-unit * 4);

    img {
      width: calc(100vw - v.$base-px-unit * 4);
      height: calc(100vw - v.$base-px-unit * 4);
    }
  }

  .show-mobile {
    display: inline;
  }

  .hide-mobile {
    display: none;
  }

  #experience-left,
  #experience-right {
    top: calc(100vw - v.$base-px-unit * 9);
  }

  @include banner-height(1.15, 1.5);
}

@media print {
  .exp-card {
    display: block;
    page-break-inside: avoid;
    box-shadow: none;

    img {
      display: none;
    }

    div {
      padding: 0;

      fast-badge {
        float: right;
        margin: v.$base-px-unit * -2 0 0 calc(var(--design-unit) * 1px);
      }

      h2 {
        margin: 5px 0 -6px;
      }

      fast-divider {
        display: none;
      }
    }
  }

  #banner {
    position: relative;

    img {
      height: 275px;
    }
  }

  #main-wrapper {
    background: transparent;
    padding: 0;
  }

  #main {
    width: calc(100vw - v.$base-px-unit * 4);
    margin: 0 v.$base-px-unit * 2;
    display: inline;

    fast-divider {
      padding-bottom: v.$base-px-unit * 1.5;
    }
  }

  #about {
    display: block;
    page-break-inside: avoid;
    padding: 0;
    margin-bottom: v.$base-px-unit * 4;
  }

  #experience {
    display: inline;
  }

  fast-button {
    display: none;
  }
}
