<div id="r159-home-banner">
  <img src="https://via.placeholder.com/4096x400/414141" />
</div>

<div id="r159-home-main">
  <h2 class="r159-flex-header">Experience</h2>
  <div id="r159-home-experience">
    <fast-card class="r159-flex-sm">
      <img src="/assets/90cos.png" />
      <div style="padding: 0 10px 10px; color: var(--neutral-foreground-rest);">
        <h2>90th Cyber Ops. Sq. (90COS)</h2>
        <fast-badge color="white" fill="af-blue">2019-2022</fast-badge>
        <fast-badge color="white" fill="af-silver">San Antonio, TX</fast-badge>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maurisscelerisque varius ornare. Etiam convallis sollicitudin scelerisque.Maecenas in velit vehicula, aliquet orci et, consequat purus. Donec egetsodales lectus, vel sollicitudin ligula. Suspendisse volutpat auctor diam,vel mattis lorem venenatis in.</p>
      </div>
    </fast-card>
    <fast-card class="r159-flex-sm">
      <img src="/assets/p1.png" />
      <div style="padding: 0 10px 10px; color: var(--neutral-foreground-rest);">
        <h2>Platform One (P1)</h2>
        <fast-badge color="white" fill="af-blue">2019-2020</fast-badge>
        <fast-badge color="white" fill="af-silver">San Antonio, TX</fast-badge>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maurisscelerisque varius ornare. Etiam convallis sollicitudin scelerisque.Maecenas in velit vehicula, aliquet orci et, consequat purus. Donec egetsodales lectus, vel sollicitudin ligula. Suspendisse volutpat auctor diam,vel mattis lorem venenatis in.</p>
      </div>
    </fast-card>
    <fast-card class="r159-flex-sm">
      <img src="/assets/rs.png" />
      <div style="padding: 0 10px 10px; color: var(--neutral-foreground-rest);">
        <h2>Rogue Squadron (RS)</h2>
        <fast-badge color="white" fill="af-blue">2018-2019</fast-badge>
        <fast-badge color="white" fill="af-silver">Mountain View, CA</fast-badge>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maurisscelerisque varius ornare. Etiam convallis sollicitudin scelerisque.Maecenas in velit vehicula, aliquet orci et, consequat purus. Donec egetsodales lectus, vel sollicitudin ligula. Suspendisse volutpat auctor diam,vel mattis lorem venenatis in.</p>
      </div>
    </fast-card>
    <fast-card class="r159-flex-sm">
      <img src="https://via.placeholder.com/32x32/414141" />
      <div style="padding: 0 10px 10px; color: var(--neutral-foreground-rest);">
        <h2>Kessel Run (KR)</h2>
        <fast-badge color="white" fill="af-blue">2017-2018</fast-badge>
        <fast-badge color="white" fill="af-silver">Boston, MA</fast-badge>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maurisscelerisque varius ornare. Etiam convallis sollicitudin scelerisque.Maecenas in velit vehicula, aliquet orci et, consequat purus. Donec egetsodales lectus, vel sollicitudin ligula. Suspendisse volutpat auctor diam,vel mattis lorem venenatis in.</p>
      </div>
    </fast-card>
    <fast-card class="r159-flex-sm">
      <img src="/assets/diu.png" />
      <div style="padding: 0 10px 10px; color: var(--neutral-foreground-rest);">
        <h2>Defense Innovation Unit (DIU)</h2>
        <fast-badge color="white" fill="af-blue">2016-2019</fast-badge>
        <fast-badge color="white" fill="af-silver">Mountain View, CA</fast-badge>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maurisscelerisque varius ornare. Etiam convallis sollicitudin scelerisque.Maecenas in velit vehicula, aliquet orci et, consequat purus. Donec egetsodales lectus, vel sollicitudin ligula. Suspendisse volutpat auctor diam,vel mattis lorem venenatis in.</p>
      </div>
    </fast-card>
    <fast-card class="r159-flex-sm">
      <img src="/assets/ms.png" />
      <div style="padding: 0 10px 10px; color: var(--neutral-foreground-rest);">
        <h2>Microsoft (Bing Intern)</h2>
        <fast-badge color="white" fill="ms-blue">2014-2015</fast-badge>
        <fast-badge color="white" fill="ms-green">Bellevue, WA</fast-badge>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maurisscelerisque varius ornare. Etiam convallis sollicitudin scelerisque.Maecenas in velit vehicula, aliquet orci et, consequat purus. Donec egetsodales lectus, vel sollicitudin ligula. Suspendisse volutpat auctor diam,vel mattis lorem venenatis in.</p>
      </div>
    </fast-card>
    <fast-card class="r159-flex-sm">
      <img src="https://via.placeholder.com/32x32/414141" />
      <div style="padding: 0 10px 10px; color: var(--neutral-foreground-rest);">
        <h2>Student IT Office (SITO)</h2>
        <fast-badge color="white" fill="rit-orange">2014-2016</fast-badge>
        <fast-badge color="white" fill="rit-red">Rochester, NY</fast-badge>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maurisscelerisque varius ornare. Etiam convallis sollicitudin scelerisque.Maecenas in velit vehicula, aliquet orci et, consequat purus. Donec egetsodales lectus, vel sollicitudin ligula. Suspendisse volutpat auctor diam,vel mattis lorem venenatis in.</p>
      </div>
    </fast-card>
  </div>
  <h2 class="r159-flex-header">Education</h2>
  <fast-card class="r159-flex-lg" style="background-color: #513127;">
    <img class="square" src="/assets/rit.png" />
    <img class="wide" src="/assets/rit-wide.png" />
    <div style="padding: 0 10px 10px; color: var(--neutral-foreground-rest);">
      <h2>Rochester Institute of Technology (RIT)</h2>
      <fast-badge color="white" fill="rit-orange">2011-2016</fast-badge>
      <fast-badge color="white" fill="rit-red">Rochester, NY</fast-badge>
      <fast-badge color="white" fill="rit-brown">3.85 GPA</fast-badge>
      <p>
        <b>Bachelor of Science in Software Engineering</b> w/ Military Science Minor &amp; Arabic Immersion
      </p>
      <fast-divider></fast-divider>
      <h3>Courses</h3>
      <fast-badge color="white" fill="rit-gray">
        Software Engineering
      </fast-badge>
      <fast-badge color="white" fill="rit-gray">
        Engr Fund Comp Systems
      </fast-badge>
      <fast-badge color="white" fill="rit-gray">
        Personal Software Engr
      </fast-badge>
      <fast-badge color="white" fill="rit-gray">
        Intro To Cs Theory
      </fast-badge>
      <fast-badge color="white" fill="rit-gray">
        Operating Systems I
      </fast-badge>
      <fast-badge color="white" fill="rit-gray">
        Eng Of Software Subsys
      </fast-badge>
      <fast-badge color="white" fill="rit-gray">
        Eng of Concur Distrib SW Sys
      </fast-badge>
      <fast-badge color="white" fill="rit-gray">
        Software Testing
      </fast-badge>
      <fast-badge color="white" fill="rit-gray">
        Human Centered Reqs and Design
      </fast-badge>
      <fast-badge color="white" fill="rit-gray">
        SW Process and Project Management
      </fast-badge>
      <fast-badge color="white" fill="rit-gray">
        Engineering of Enterprise SW Sys
      </fast-badge>
      <fast-badge color="white" fill="rit-gray">
        Mathematical Models of SW
      </fast-badge>
      <fast-badge color="white" fill="rit-gray">
        Intro to Intelligent Systems
      </fast-badge>
      <fast-badge color="white" fill="rit-gray">
        SW Process and Product Quality
      </fast-badge>
      <fast-badge color="white" fill="rit-gray">
        Principles of Data Mining
      </fast-badge>
      <fast-badge color="white" fill="rit-gray">
        SW System Reqs and Architect
      </fast-badge>
    </div>
  </fast-card>
</div>