@use "../../variables" as v;

$button-size: 100px;

fast-text-field {
  width: 332px;
}

fast-button {
  width: $button-size;
  height: $button-size;
  border-radius: $button-size / 2;
  font-size: 1.5em;

  span {
    font-size: 0.5em;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: v.$base-px-unit * 2;
  margin-top: v.$base-px-unit * 3;
}

.row {
  display: flex;
  justify-content: center;
  gap: v.$base-px-unit * 2;
}

.call {
  width: $button-size * 2;
}

#r159-dev-notifications {
  @include v.notifications;
}
