fast-text-field {
    width: 332px;
}

fast-button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 1.5em;

    span {
        font-size: 0.5em;
    }
}

.column {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.call {
    width: 200px;
}

#r159-dev-notifications {
    position: fixed;
    z-index: 100;
    bottom: calc(var(--design-unit) * 4px);
    text-align: center;
    width: 100%;
    pointer-events: none;

    span {
        padding: calc(var(--design-unit) * 2px);
        background-color: var(--neutral-layer-floating);
        border-radius: calc(var(--control-corner-radius) * 3px);
    }
}
